.cg
  &__inpage
    position relative
    width calc(100% - 88px)
    margin 0 auto 0
    padding 180px 0 80px 0
    opacity 0
    z-index 2

@media screen and (max-width: 1024px)
  .cg
    &__inpage
      width calc(100% - 44px)
      margin 0 auto 0
      display block
      opacity 1
